{% if site.inc.sharing.twitter or site.inc.sharing.facebook or site.inc.sharing.gplus or site.inc.sharing.hn %}
<div class="share-wrapper">
    <div class="share">
      {% if site.inc.sharing.twitter %}<a href="{{page.url}}" class="twitter" title="{{page.title}}"></a>{% endif %}
      {% if site.inc.sharing.facebook %}<a href="{{page.url}}" class="facebook" title="{{page.title}}"></a>{% endif %}
      {% if site.inc.sharing.gplus %}<a href="{{page.url}}" class="googleplus" title="{{page.title}}"></a>{% endif %}
    </div>
</div>
{% endif %}