*{
  font-family: $font;
  font-weight:300;
}
body {
    margin:0;
    border:0;
    padding:80px 0 0;
    font-family:$font;
    color:$text;
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizelegibility;
    font-size:17px;
    max-width: 100%;
}

.is-visible {
    
    .site-nav {
        top:100px;
    }
    
    .top-nav {
        opacity:1;
        -webkit-transform: translate3d(0px, 0px, 0px);
        transition:0.3s all ease;
        top:-200px;
    }
}

h1, h2, h3, h4, h5 {
  color:#263c4c;
}

h1, h2 {
  font-family: $font;
}

a {
  color:$accent;
  text-decoration:none;
  transition:all 0.2s ease;
  
  &:hover {
    color: #444;
    text-decoration:none;
  }
}

.container {
  max-width: 1024px;
  margin:0 auto;
}
.completion {
  content: '';
  height: 3px;
  position: fixed;
  left: 0;
  top: 0;
  width: 0%;
  background: #f84ba2;
  z-index: 9999;
}
.article-cover, .blog-cover {
  max-width: 100%;
  margin-top: 0;
  position: relative;
  max-height: 460px;
  overflow: hidden;
  background: #eee;
}
.article-cover {
    height: 320px;
    background-color:#111;
    background-size:cover;
    background-position:center center;
    z-index:1;
    
    > div {
        max-height: 480px;
        line-height: 0;
    }
    .image {
        width: 100%;
        top: 0;
        position:relative;
    }
    .meta {
      margin: 0 8em;
    }
    header {
      max-width: 1024px;
      margin: 0 auto;
    }
    section {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom:0;
        background-color:rgba(0,0,0,0.4);
        background-image: linear-gradient(bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0) 100%);
        background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0) 100%);
        background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0) 100%);
        background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0) 100%);
        background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0) 100%);

        background-image: -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0, rgba(0,0,0,0.15)),
          color-stop(1, rgba(0,0,0,0))
        );
        padding: 100px 0;
        z-index:10;
    }
    h1 {
        font-size:2.7em;
        line-height:1.4em;
    }
    h3 {
        font-size:1.3em;
    }
    h1, h3 {
        color:#fff;
        margin:0;
        font-weight:300;
    }
    address {
      margin:0;
      font-size:0.9em;
      max-height: 48px;
      height: 100%;

      p {
          margin:0;
          display:inline-block;
          color: #fff;
          padding-top: 20px;
      }
      img {
          border-radius: 54px;
          height: 100%;
          margin-top: -20px;
      }
    }
}

.index {
    margin:0 5em;
    
    > div{
        display:table-cell;
    }
    
    .title {
        margin:0em 0 0.6em;
    }
    
    .avatar {
        float:left;
        border-radius:62px;
        height:48px;
        width:48px;
        margin-top:0;
        margin-right:30px;
    }
}
.blog-cover {
    height: 320px;
    background-color:#111;
    background-size:cover;
    background-position:center center;
    z-index:1;
    
    > div {
        max-height: 480px;
        line-height: 0;
    }
    
    .image {
        width: 100%;
        top: 0;
        position:relative;
    }
    section {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom:0;
        background-color:rgba(0,0,0,0.4);
        background-image: linear-gradient(bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0) 100%);
        background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0) 100%);
        background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0) 100%);
        background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0) 100%);
        background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0) 100%);

        background-image: -webkit-gradient(
        	linear,
        	left bottom,
        	left top,
        	color-stop(0, rgba(0,0,0,0.15)),
        	color-stop(1, rgba(0,0,0,0))
        );
        padding: 70px 0;
        z-index:10;

        a:last-child {
            margin:1.5em 0 0 0;
        }
        a {
            color: $twitter;
            border:0;
            width:36px;
            height:36px;
            display:inline-block;
            padding:10px 0;
            border-radius:42px;
            margin:1.5em 1em 0em 0;
            transition:0.2s all ease;
            line-height:0;
            text-align:center;

            &.twitter {
                border:2px solid $twitter;
            }
            &.facebook {
                border:2px solid $facebook;
            }
            &.rss {
                border:2px solid $gplus;
            }
            &:hover {
                transition: 0.5s all ease;

                &.twitter {
                    background: $twitter;
                }
                &.facebook {
                    background: $facebook;
                }
                &.rss {
                    background: $gplus;
                }
            }
        }
    }
    
    h1 {
        font-size:2.7em;
        line-height:1.4em;
    }
    
    h3 {
        font-size:1.3em;
    }
    
    h1, h3 {
        color:#fff;
        margin:0;
        font-weight:300;
    }
}

.pagination {
    text-align:center;
}

.site-footer {
    padding:5em 0;
    margin: 0;
    background:whitesmoke;
    color:#aaa;
    font-size:0.8em;
    
    a {
        color:#777;
        border:0;
        margin:0 0.5em;
        
        &:hover {
            color: $accent;
        }
    }
    
    p {
        color:#999;
        a {
            margin:0;
            color:#999;
        }
    }
    section {
      margin: 0 8em;
    }
    nav {
       display:inline-block;
    }
    .social {
        float:right;
        margin-top: -0.7em;
        display: inline-block;
        
        a {
            color: $twitter;
            border:0;
            width:36px;
            height:36px;
            display:inline-block;
            padding:10px 0;
            border-radius:42px;
            margin:0 1em 0em 0;
            transition:0.2s all ease;
            line-height:0;
            text-align:center;

            &.twitter {
                border:2px solid $twitter;
            }
            &.facebook {
                border:2px solid $facebook;
            }
            &.rss {
                border:2px solid $gplus;
            }
            &:hover {
                transition: 0.5s all ease;

                &.twitter {
                    background: $twitter;
                }
                &.facebook {
                    background: $facebook;
                }
                &.rss {
                    background: $gplus;
                }
            }
        }
    }
}

.muted {
    color:$textmuted;
}

.btn {
    color:#fff;
    font-weight:bold;
    background-color:#54b89d;
    font-size:1em;
    padding: 0.6em 1.2em;
    display: inline-block;
    position: relative;
    border: 0;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-weight:600;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    vertical-align: bottom;
    text-rendering: optimizeLegibility;
    border-radius: 2px;
    vertical-align:middle;
    border-radius:2px;
    background:#4dab7d;
    border:2px solid #4dab7d;
    text-transform: uppercase;
    white-space:nowrap;

    &:hover {
        background:darken(#4dab7d, 10%);
        border-color:darken(#4dab7d, 10%);
        color:#fff;
    }
    
    &:active {
        box-shadow:none;
    }
}

.btn-outline {
    background: none;
    border-radius: 4px;
    font-size: 0.8em;
    border:2px solid $accent;
    border-radius: 3px;
    color: $accent;
    transition:0.2s all ease;

    &:hover {
        color:#FFF;
        background-color: $accent;
        border:2px solid $accent;
    }
}
/* social */
.share-wrapper {
    width: 60%;
    margin: 0 auto;
    margin-top: 3em;

    .share > a {
      margin-right: 20px;
      display: inline-block;
      margin-bottom: 20px;
    }
    .share >a:last-child {
      margin-right: 0px;
    }
    .getshare input[type="checkbox"] {
      display: none;
    }
    label {
      cursor: pointer;
      display: inline-block;
    }
    label:before {
      position: relative;
      display: inline-block;
      line-height: 32px;
      padding: 0px 9px 0px 25px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      color: #fff;
    }
    .twitter label:before {
      content: 'Tweet';
      background: #00acee url("/images/icon/twitter.svg") no-repeat 5px 10px;
      -webkit-background-size: 14px;
      -moz-background-size: 14px;
      background-size: 14px;
    }
    .facebook label:before {
      content: 'Share';
      background: #3b5998 url("/images/icon/facebook.svg") no-repeat 7px 9px;
      -webkit-background-size: 7px;
      -moz-background-size: 7px;
      background-size: 7px;
    }
    .googleplus label:before {
      content: 'Share';
      background: #dd4b39 url("/images/icon/googleplus.svg") no-repeat 6px 10px;
      -webkit-background-size: 14px;
      -moz-background-size: 14px;
      background-size: 14px;
    }
    .getshare-counter {
      background: #fff;
      border: 1px solid $textmuted;
      padding: 0px 9px;
      margin-left: 8px;
      color: $text;
      line-height: 32px;
      display: inline-block;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      position: relative;
      cursor: pointer;
      font-weight: 600;
    }
    .getshare-counter:after {
      content: "";
      display: block;
      position: absolute;
      pointer-events: none;
      width: 7px;
      height: 7px;
      background: #fff;
      border-left: 1px $textmuted solid;
      border-bottom: 1px $textmuted solid;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      left: -5px;
      top: 12px;
    }
}

.pagination-wrapper {
  .controls {
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 20;
    pointer-events: none;

    a { 
      cursor: pointer;
      pointer-events: auto;
      -webkit-transition: all ease .5s;
      -moz-transition: all ease .5s;
      -ms-transition: all ease .5s;
      -o-transition: all ease .5s;
      transition: all ease .5s;

      &.prev, &.next {
        &:before, &:after {
          -webkit-transition: all ease .5s;
          -moz-transition: all ease .5s;
          -ms-transition: all ease .5s;
          -o-transition: all ease .5s;
          transition: all ease .5s;
        }
      }
      &.prev {
        &:before {
          content: '\f104';
          z-index: 40;
          font-family: 'FontAwesome';
          font-size: 4em;
          line-height: 1;
          text-align: center;
          color: $accent;
        }
      }
      &.next {
        float: right;

        &:after {
          content: '\f105';
          z-index: 40;
          font-family: 'FontAwesome';
          font-size: 4em;
          line-height: 1;
          text-align: center;
          color: $accent;
        }
      }

      &:hover {
        &.prev, &.next {
          &:before, &:after {
            color: $text;
            opacity: 0.8;
          }
        }
      }
      &.disabled {
        opacity: 0.3;
        cursor: default;
        color: $textmuted;

        span {
            color: $textmuted;
        }
      }
    }
    span {
      padding: 10px;
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 35px;
    }
  }
}

/* hover menu */
.mobile-nav {
  display: none;

  .menu-outer:hover ~ .menu-close {
    margin-right:-100px;
  }
  .menu-outer:hover .bar { background:rgba(100,200,240,.9); }
  .menu-outer > nav ul { top:15%; }

  .menu-outer {
    overflow: hidden;
    position: fixed;
    top: 0;
    font-family: 'Montserrat', serif;
    z-index: 998;  
    width: 100%;
    left: 100%;
    margin-left: -100px;
    height: 300px;
    background: $text;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s; 
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .menu-outer:hover {
    background: $text;
    left: 0;
    margin-left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);

    li {
      display: block;
    }
  }
  .menu-icon {
    z-index: 999;
    position: absolute;
    top: 58px;
    left: 15px;
    width: 30px;
    pointer-events: none;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
  }
  .menu-icon .bar {
    background: rgba(250,250,250,1);
    width: 100%;
    height: 5px;
    margin: 0 0 5px;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
  }
  .menu-outer:hover > .menu-icon {
    opacity: 0;
  }
  nav ul {
    position:absolute;
    width:100%;
    padding: 0;
    left: 40%; /*prevents possible click when not oppened*/
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
  }
  .menu-outer:hover > nav ul {
    left: 0;
  }
  nav li {
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    display: none;
  }
  nav li a {
    font-size: 1.2em;
    color: rgba(255,255,255,.8);
    text-decoration: none;
    margin: 0 auto;
    padding: 20px;
    display:block;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
  }
  nav li a:hover {
    color: rgba(255,255,255,1);
    font-weight: bold;
  }
  .menu-close {
    z-index: 9999;
    position: fixed;
    top: 0;
    right: 100%;
    width: 200px;
    height: 200px;
    background: $accent;
    cursor: pointer;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    -o-transform-origin: top right;
    transform-origin: top right;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .menu-close .menu-icon {
    right: 15px; left: auto;top: 68px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .menu-close .bar {
    background: rgba(250,250,250,1);
    width: 100%;
    height: 5px;
    position:absolute;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
  }
  .menu-close .bar:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .menu-close .bar:last-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

/* Indicators for article sections */
.indicator {
  display: inline-block;
  right: 1em;
  padding: 0.3em;
  background: $text;
  border-radius: 50%;
  opacity: 0.5;
  transition: opacity 0.5s;
}
.indicator--passed, .indicator--upcoming {
  position: fixed;
}
.indicator--passed { 
  top: 0 !important;
}
.indicator--upcoming { 
  bottom: 0 !important;
}
.indicator--active {
  position: absolute;
}
.indicator--viewing, .indicator:hover {
  opacity: 1;
}

.indicator-tooltip {
  position: absolute;
  right: 2em;
  width: 0;
  margin-top: -1em;
  background-color: $text;
  color: #FFF;
  white-space: nowrap;
  border-radius: 3px;
  overflow: hidden;
  z-index: -1;
}
.indicator-tooltip:after {
  display: block;
  content: '';
  position: absolute;
  right: -0.85em;
  top: 50%;
  width: 0;
  height: 0;
  margin-top: -0.4em;
  border: 0.4em solid transparent;
  border-left: 0.5em solid $text;
}
.indicator:hover .indicator-tooltip {
  width: auto;
  padding: 0.5em;
  overflow: visible;
  z-index: 1;
}