/* CONFIGURATION */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
$body-font-family: "Open Sans", sans-serif;
$font: "Open Sans", sans-serif;

/* Font for headings */
$fontheadings: "Open Sans", sans-serif;

/* Text colors */
$text: #47555C;
$textmuted: #848484;
$accent: #00B588;
$facebook:   #3b5998;
$twitter:    #00a0d1;
$gplus:      #db4a39;
$pinterest:  #c8232c;
$dribbble:   #ea4c89;


/* IMPORT CSS FILES */

@import "bootstrap";
@import "base";
@import "nav";
@import "article";
@import "icons";
@import "syntax";
@import "responsive";